.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--padding-small);
  width: 100%;
}

.buttons__button {
  background-color: var(--secondary-color);
  border-radius: 2rem;
  border: 2px solid var(--primary-color);
  color: var(--neutral-color);
  cursor: pointer;
  padding: var(--padding-small);
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  width: 45%;

  &:hover {
    background-color: var(--primary-color);
  }
}
