:root {
  --primary-color: rgba(85, 65, 125, 1);
  --secondary-color: rgba(45, 45, 68, 1);
  --highlight-color: rgba(200, 50, 70, 1);
  --accent-color: rgba(255, 215, 110, 1);
  --background-color: rgba(200, 225, 255, 1);
  --neutral-color: rgba(240, 235, 225, 1);
  --shadow-color: rgba(60, 60, 80, 1);
  --text-color: rgba(80, 80, 80, 1);
  --text-muted-color: rgba(150, 150, 150, 1);
  --spacing-large: 2.4rem;
  --spacing-medium: 1.2rem;
  --spacing-small: 0.6rem;
  --spacing-tiny: 0.2rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.6rem;
}

body {
  color: var(--text-color);
  font-family: "Lexend", sans-serif;
  margin: 0;
}

h1,
h2 {
  color: var(--primary-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  line-height: 1.6;
  margin: var(--spacing-small) 0;
}

p.emphasis {
  font-size: var(--font-size-large);
  text-align: center !important;
}

ul,
ol {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  list-style-type: disc;
  margin: var(--spacing-small) 0;
  list-style-position: inside;
}

li {
  margin: var(--spacing-small) 0;
  line-height: 1.6;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--accent-color);
  }
}

fieldset {
  border: none;
}

input,
textarea,
select {
  background-color: var(--neutral-color);
  border-radius: 2rem;
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  margin: var(--spacing-small) 0;
  max-width: 200px;
  padding: var(--spacing-small);
  width: 100%;

  &:focus {
    border-color: var(--highlight-color);
    box-shadow: 0 0 5px var(--highlight-color);
    outline: none;
  }

  &::placeholder {
    color: var(--text-muted-color);
  }
}

button {
  background-color: var(--secondary-color);
  border-radius: 2rem;
  border: 2px solid var(--secondary-color);
  color: var(--neutral-color);
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  padding: var(--spacing-small) var(--spacing-medium);
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--accent-color);
  }
}
