.slider {
  width: 100%;
  background-color: var(--color-neutral-200);
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  border-radius: 2rem;
  background: var(--color-purple-500);
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--color-red-500);
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  &::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--color-red-500);
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
}
