.text-area {
  margin-bottom: var(--spacing-medium);
  max-height: 54vh;
  overflow-y: auto;
  width: 100%;
}

.text-area--align-left {
  text-align: left;
}

.text-area--align-center {
  text-align: center;
}

.text-area--align-right {
  text-align: right;
}

.text-area--size-small,
.text-area--size-small p {
  font-size: var(--font-size-small);
}

.text-area h1,
.text-area h2 {
  margin: 0;
}

.text-area h1,
.text-area h2 {
  text-align: center;
}

.text-area h2:not(:first-child) {
  margin: var(--spacing-medium) 0 0 0;
}

.text-area h3 {
  margin: var(--spacing-medium) 0 0 0;
}

.text-area p {
  text-align: left;
}

.text-area ul,
.text-area ol {
  margin: var(--spacing-small) 0;
  list-style-position: inside;
}
