.tooltip {
  cursor: help;
  display: inline-block;
  position: relative;

  &__trigger {
    color: var(--color-purple-500);
    position: relative;
    text-decoration: underline dotted;
  }

  &:hover > .tooltip__trigger,
  &:focus > .tooltip__trigger {
    color: var(--hover-color);
    text-decoration: underline solid;
  }

  &:hover .tooltip__text,
  &:focus .tooltip__text {
    opacity: 1;
    visibility: visible;
  }
}

.tooltip__text {
  background-color: var(--color-purple-800);
  border-radius: 0.6rem;
  bottom: calc(100% + 0.5rem);
  color: #fff;
  left: 50%;
  max-width: 30rem;
  min-width: 10rem;
  opacity: 0;
  overflow-wrap: break-word;
  padding: var(--spacing-small);
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  word-break: break-word;
  word-wrap: break-word;
  z-index: 61;

  &::after {
    border-color: var(--color-purple-800) transparent transparent transparent;
    border-style: solid;
    border-width: 0.5rem;
    content: "";
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
  }
}

.tooltip:hover .tooltip__text,
.tooltip:focus .tooltip__text {
  opacity: 1;
  visibility: visible;
}
