.image-area {
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  display: flex;
  height: 300px;
  justify-content: center;
  margin-bottom: var(--spacing-medium);
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    background: rgba(240, 235, 225, 1);
    border-radius: 50% 50% 0 0;
    bottom: 0;
    content: "";
    height: 100px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 200%;
  }

  img {
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    z-index: 60;
  }
}
