.link {
  border-radius: 2rem;
  color: var(--color-neutral-200);
  cursor: pointer;
  padding: var(--spacing-small) var(--spacing-medium);
  transition: background-color 0.3s, transform 0.3s;
}

.link--size-small {
  border-radius: 1.5rem;
  font-size: var(--font-size-small);
  padding: var(--spacing-tiny) var(--spacing-small);
}

.link--size-large {
  border-radius: 3rem;
  font-size: var(--font-size-large);
  padding: var(--spacing-medium) var(--spacing-large);
}

.link--appearance-primary {
  background-color: var(--color-purple-500);
  border: 2px solid var(--color-purple-800);
  color: var(--color-neutral-200);
}

.link--appearance-primary:hover {
  background-color: var(--color-gold-500);
  color: var(--color-purple-500);
}

.link--appearance-secondary {
  background-color: var(--color-purple-800);
  border: 2px solid var(--color-purple-500);
  color: var(--color-neutral-200);
}
